{% extends "gestion_viajes/base.html" %}

{% load static %}

{% block content %}
    <header>
      <div class="row justify-content-center">
        <div class="col-md-7 col-sm-12">
          <h1>Listado de Apoderados, {{ curso }}</h1>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="container-btn">
            <button class="btn btn-light" id="btnAgregar">
              <a href="{% url 'apoderadosAdd' fk=curso.id_curso %}">Agregar Apoderado</a>
            </button>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="container-btn">
            <button class="btn btn-light" id="btnAgregar">
                <a href="{% url 'crud_cursos' fk=curso.id_colegio_id %}">Volver</a>
              </button>
          </div>
        </div>
      </div>
    </header>

    <div id="idMensajes">
      {% if mensaje %}
      <div class="alert alert-warning mx-auto">{{ mensaje }}</div>
      {% endif %}
    </div>

    <div class="table-container">
      <table class="table table-striped">
        {% if apoderados %}
        <thead>
          <tr>
            <th scope="col">RUT</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Género</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">E-mail</th>
            <th scope="col" colspan="2">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for apoderado in apoderados %} {% if apoderado.rut %}
          <tr>
            <td>{{ apoderado.rut }}</td>
            <td>
              {{ apoderado.nombre|capfirst }}
              {{apoderado.apellido_paterno|capfirst }}
              {{apoderado.apellido_materno|capfirst }}
            </td>
            <td>{{ apoderado.id_genero.genero|slice:":1" }}</td>
            <td>{{ apoderado.fecha_nacimiento|date:"d/m/Y" }}</td>
            <td>{{ apoderado.email|default_if_none:""|lower }}</td>
            <td class="td-update">
              <a href="{% url 'apoderados_edit' pk=apoderado.id_apoderado fk=curso.id_curso %}"
                >Modificar</a
              >
            </td>
            <td class="td-delete">
              <a href="{% url 'apoderados_del' pk=apoderado.id_apoderado fk=curso.id_curso %}"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </div>

    <script>
      $(document).ready(function () {
        $("#idMensajes").delay(2000).fadeOut("slow");
      });
    </script>

{% endblock %}
