{% extends "gestion_viajes/base.html" %}

{% load static %}

{% block content %}

    <header>
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
          <h1>Listado de Colegios</h1>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="container-btn">
            <button class="btn btn-light" id="btnAgregar">
              <a href="{% url 'colegiosAdd' %}">Agregar Colegio</a>
            </button>
          </div>
        </div>
      </div>   
    </header>

    <div id="idMensajes">
      {% if mensaje %}
          <div class="alert alert-warning mx-auto">
              {{ mensaje }}
          </div>
      {% endif %}
    </div>

    <div class="table-container">
        <table class="table table-striped">
            {% if colegios %}
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col" colspan="3">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for colegio in colegios %}
                        <tr>
                            <td>{{ colegio.nombre_colegio }}</td>
                            <td>{{ colegio.direccion_colegio }}</td>
                            <td class="td-crud"><a href="{% url 'crud_cursos' fk=colegio.id_colegio %}">Ver Cursos</a></td> 
                            <td class="td-update"><a href="{% url 'colegios_edit' pk=colegio.id_colegio %}">Modificar</a></td> 
                            <td class="td-delete"><a href="{% url 'colegios_del' pk=colegio.id_colegio %}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}    
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>

{% endblock %}
